{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'coffee/css/create.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Create Rating</title>
</head>
<body>
    <header>
        <h1>Welcome to Virtual Coffee Shop</h1>
        <p>Your Perfect Cup Awaits</p>
    </header>
    <div class="center-content">
        <div class="container">
            <h1>Form for creating rating</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.text }}<br>
                <div class="rating">
                    <span class="star" data-rating="1">☆</span>
                    <span class="star" data-rating="2">☆</span>
                    <span class="star" data-rating="3">☆</span>
                    <span class="star" data-rating="4">☆</span>
                    <span class="star" data-rating="5">☆</span>
                </div>
                <input type="hidden" name="rating" value="1" id="rating">
                <span>{{ error }}</span>
                <button class="btn btn-success" type="submit">Add Rating</button>
            </form>
        </div>
    </div>
    <div class="footer">
        <p>&copy; 2023 Virtual Coffee Shop. All rights reserved.</p>
    </div>

    <script>
        const stars = document.querySelectorAll('.star');
        const ratingInput = document.querySelector('#rating');

        stars.forEach(star => {
            star.addEventListener('click', () => {
                const rating = star.getAttribute('data-rating');
                ratingInput.value = rating;
                stars.forEach(s => s.classList.remove('selected'));
                star.classList.add('selected');
            });
        });
    </script>
</body>
</html>
